/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.entry-content input[type=text], .entry-content input[type=email], .entry-content input[type=tel], .entry-content input[type=password], .entry-content input[type=date], .entry-content input[type=datetime-local], .entry-content input[type=file], .entry-content input[type=reset], .entry-content input[type=search], .entry-content input[type=url]
{
	width: 100% !important;
}

#primary {
    float: none !important;
    margin: 0 auto !important;
    width: 66.6666%;
}

div .container {
	padding: 20px !important;
}

strong {
	color: rgb(255,0,0) !important;
<<<<<<< HEAD
}
=======
}

.hidden {display: none;}
>>>>>>> a27bb71... RC Version
